name: Build and Deploy
on:
  push:
    branches:
      - master
jobs:
  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Upload ftp
      uses: sebastianpopp/ftp-action@releases/v2
      with:
        host: ftp.pharma.com.sd
        user: ox@hd.pharma.com.sd
        password: ${{ secrets.PASSWORD }}
        localDir: .
        remoteDir: .
